<!doctype html>
<link rel="stylesheet" href="contact.css" type="text/css" />

<title>Formulaire</title>
<div class="container">
  <h1>Formulaire de contact</h1>
  <form action="/action_page.php">
    <label for="fname">Prénom</label>
    <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">

    <label for="">Nom</label>
    <input type="text" id="nom" name="sujet" placeholder="Entrez votre nom">
    
    <label for="">Objet</label>
    <input type="text" id="objet" name="objet" placeholder="Objet du message">

    <label for="subject">Message</label>
    <textarea id="message" name="message" placeholder="Entrez votre message" style="height:200px"></textarea>

    <input type="submit" value="Envoyer">
  </form>
</div>
