<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Histogramme</title>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
           
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    // Récupérer les données JSON via une requête HTTP
    fetch('https://hcelayir07.alwaysdata.net/paris/')
    .then(response => response.json())
    .then(data => {
      // Formatter les données dans le format requis par Google Charts
      var chartData = [['Date', 'Température']];
      data.results.forEach(item => {
        var date = new Date(item.Jour * 1000);
        chartData.push([date.toLocaleDateString(), item.temp]);
      });

      var dataTable = google.visualization.arrayToDataTable(chartData);

      var options = {
        title: 'Température à Paris',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(dataTable, options);
    })
    .catch(error => console.error('Erreur lors de la récupération des données :', error));
  }
</script>
</head>

<header class="w3-theme-d5">
    <nav>
        <a href="https://hcelayir07.alwaysdata.net/">Accueil</a>
        <a href="https://hcelayir07.alwaysdata.net/rapport/">Météo</a>
        <a href="https://hcelayir07.alwaysdata.net/">Contact</a>
    </nav>
</header>
  
<body>
  <h2>Historique des températures à Paris</h2>
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>

